body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1{
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'MonteCarlo', cursive;
    /*color: #66BFBF;*/
    color:rgb(107, 176, 255);
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color:#80b5ea
}

h3{
    color: #5cc1d3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: em;
}

hr{
    border: 5px dotted #f3f2f5;
    border-bottom: none;
    width: 25%;
    margin: 100px auto;
}

.intro{
    width: 30%;
    margin: auto;
}

.contactMessage{
    width: 40%;
    margin: 40px auto 60px;
}

.top p {
    width: 175px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    
    animation: 
      typing 1s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 8% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.top{
    background-color: #C2FFD9;
    padding: 20px;
    position: relative;
    padding-top: 100px;
    line-height: 1.25;
    background-image: url("comp.jpg"); background-repeat: repeat-x;
    height: 580px;
    
}

.top p{
    font-size: 1.5rem;
    /*color: #5cc1d3;*/
    color:rgb(107, 176, 255);
    font-weight: normal;
}

.top h1, p{
    margin-top: 100px;;
}

.middle-container{
    
    line-height: 2;
    background-color:hsl(0, 0%, 100%);
    
}

.bottom-container{
    background-color: #66BFBF;
    
    height: 200px;
}

.bottom-container a{
    color: #5a73be;
    position: relative;
    top: 50px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #EAF6F6;
}

.bottom-container p{
    color: #EAF6F6;
    position: relative;
    padding: 20px 0;
}

.pro{
    text-decoration: underline;
}
.topCloud{
    position: relative;
    left: 250px;
    top: 25px;
}
.bottomCloud{
    position: absolute;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    padding: 30px
}

.computerDo{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.gamer{
    float: right;
    width: 25%;
    margin-left: 30px;
}

.myButton {
    margin-bottom: 30px;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
    
}
.myButton:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.myButton:active {
	position:relative;
	top:1px;
}





